* {
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: none;
}
hr{
    color: #000C2E;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 20px;
}
nav{
    position: fixed;
    top: 0px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #000e26;
    height: 50px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

li a:hover:not(.active) {
    background-color: #ffcb00 ;
}

.active {
    background-color: #ffcb00 ;
}

.header{
    background-image: url("img/header-bg.jpg");
    background-size: cover;
    margin-top: 50px;
    width: 100%;
    height:600px;
    text-align: center;
}

.header h1{
    font-size: 72px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-top: 90px;
    color: #fff;
}
.header a {
    text-decoration: none;
}
.headerBtn{
    background-color: #ffcb00;
    border: none;
    color: white;
    padding: 18px 35px;
    text-align: center;
    display: inline;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin: 101px auto;
    cursor: pointer;
    border-radius: 5%;
}

#about{
    background-color: #fff;
    text-align: center;
    height: 350px;
    width:100%;
    background-color: #eee;
}
#about h1 {
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 20px;
}
#about p {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
    width: 80%;
    margin:0px auto;
}

#services{
    text-align: center;
    height: 350px;
    width:100%;
    background-color: #eee;
    margin-top: 20px;
}
#services h1{
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 20px;
}
.offers{
    float: left;
    width: 50%;
}
.offers h3{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;

}
.offers span{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #2C3E50;
}
.offers i{
    font-size: 80px;
    color: #ffcb00;
}
#team{
    text-align: center;
    height: auto;
    width:100%;
    background-color: #eee;
    margin-top: 20px;
}
.container2{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 30px;
    margin: 0 auto;
}
#team h1{
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 20px;
}
.TNames{
    text-align: center;
    margin:0px auto;
    width: 300px;
    height:auto;
}

.TNames h4{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin-top: 10px;
}
#team img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
}


#contact{
    height: auto;
    width:100%;
    background-color: #ccc;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-align: center;
}
 
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea[type=text-area], select {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #ffcb00;
    color: #000e26;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #fffb00;
}

#footer{
    width: 100%;
    height: 50px;
    background-color: #000e26;
    text-align: center;
}
#footer h2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    padding-top: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    width: 100%;
    height: 660px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    text-align: center ;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #ccc
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px 0px 10px;
    background-color: #fff;
    color: white;
}

.modal-body {
    padding: 2px 16px
    margin: 0px auto;
}
.modal-body h2{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}
.paragraph{
    margin: 0 auto;
    padding-top: 20px;
    width: 50%;
    text-align: justify;
}
.paragraph p{
    display: inline;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

#myProgress {
  /*position: relative;*/
  width: 50%;
  height: 30px;
  background-color: #ddd;
}

#myBar, #myBar1{
  /*position: absolute;*/
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
}

#label, #label1{
  text-align: center;
  line-height: 30px;
  color: white;
}


.skills{
    width: 50%;
    margin:0 auto;
    padding-top: 50px;
    border-radius: 20%;
}
.skills span{
    margin-right:10px;
    display:inline-block;
}
#myProgress{
    display:inline-block;
}




















/* For mobile phones: */
@media only screen and (max-width: 425px){
    #team{
        text-align: center;
        height: auto;
        width:100%;
        background-color: #eee;
        margin-top: 20px;
    }
    .container2{
        display: flex;
        align-items: flex-start;
        flex-direction:column;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0 auto;
        margin-left: 80px;
    }
    #team h1{
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        padding-top: 40px;
        padding-bottom: 20px;

    }
    .TNames{
        text-align: center;
        margin:0 auto;
        width: 150px;
        height:auto;
    }

    .TNames h4{
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        margin-top: 10px;

    }
    #team img{
        width: 110px;
        height: 110px;
        border-radius: 50%;
        cursor: pointer;
    
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* For tablets: */
    #team{
        text-align: center;
        height: auto;
        width:100%;
        background-color: #eee;
        margin-top: 20px;
    }
    .container2{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #team h1{
        font-size: 60px;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .TNames{
        text-align: center;
    }

    .TNames h4{
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        margin-top: 10px;

    }
    #team img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        cursor: pointer;
    }
}

}
@media only screen and (min-width: 768px) {
    /* For desktop: */

}
